.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.top-buffer { margin-top:0px; margin-bottom:0px; }

.autor1 {color:red;}

.autor2 {color:blue;}

.autor3 {color:green;}

.autor4 {color:brown;}

.link-tools .tool-remove { display: none }

#myholder {
   position: relative;
   border: 1px solid gray;
   display: inline-block;
   background: transparent;
   overflow: hidden;
}