<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	{% load staticfiles %}

	<link rel="stylesheet" type="text/css" href="{% static 'gdpcore/joint.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'gdpcore/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'gdpcore/nopadding.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'gdpcore/jquery-ui-1.11/jquery-ui.min.css' %}">
	<script src="{% static 'gdpcore/jquery.min.js' %}"></script>
	<script src="{% static 'gdpcore/jquery-ui-1.11/jquery-ui.min.js' %}"></script>	
	<script src="{% static 'gdpcore/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'gdpcore/lodash.min.js' %}"></script>
	<script src="{% static 'gdpcore/backbone-min.js' %}"></script>
	<script src="{% static 'gdpcore/joint.js' %}"></script>
	<script src="{% static 'gdpcore/googlecharts.js' %}"></script>
	
	<script src="https://cdn.rawgit.com/ariutta/svg-pan-zoom/master/dist/svg-pan-zoom.min.js"></script>
</head>
<body>
	<div class="container-fluid fill">
		<div class ="row">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				  <a class="navbar-brand" href="/gdpcore/index">Polikif</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav">
					<li><a href="/gdpcore/index">Accueil <span class="glyphicon glyphicon-home" aria-hidden="true"></a></li>
					<li><a href="/polikif/accueilPartis">Partis <span class="glyphicon glyphicon-flag" aria-hidden="true"></a></li>
					<li><a href="/polikif/travauxListe">Travaux <span class="glyphicon glyphicon-wrench" aria-hidden="true"></a></li>

				  </ul>

				  
				  <ul class="nav navbar-nav navbar-right">
				  
					<li><a href="/gdpcore/tobedone">Notifications <span class="glyphicon glyphicon-bell" aria-hidden="true"></a></li></span></a></li>
				 
					<li><a href="#">Messages <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a></li>	
					
					{% if user.is_anonymous %}
						<li><a href="{% url 'django.contrib.auth.views.login' %}">Connexion</a></li>
					{% else %}
				  
				  <li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.username}} <span class="glyphicon glyphicon-user" aria-hidden="true"><span class="caret"></span></a>
					  <ul class="dropdown-menu">
						<li><a href="/polikif/userPresentation/{{user.pk}}">Profil</a></li>
						<li>	
							<a href="{% url 'django.contrib.auth.views.logout' %}">Deconnexion</a>
						</li>
					  </ul>
					</li>
					{% endif %}
				  
				  </ul>
				</div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
		
			{% block content %}
			{% endblock %}		
		</div>
	</div>
	
			{% block script %}
			{% endblock %}	
	
</body>
</html>