{% extends "gdpcore/base.html" %}

{% block content %}

<div>Id main_prop : {{main_prop.id}}</div>
<div>Links_left</div>
<ul>
		{% for key, value in all_links.items %} 
		  <li>{{key}} - {{value.left_prop.id}}</li>

		 {% endfor %}
</ul>


	

<div id="myholder"></div>

<div>Links_right</div>
<ul>
	{% for link_right in links_right %}
	<li>{{link_right.id}}</li>
	{% endfor %}
</ul>

<div>Left_dict_left</div>
<ul>


		{% for key, value in left_dict_left.items %} 
		  <li>{{key}} - {{value}}</li>
		  {% for link in value %}<li>{{link.id}}</li>{% endfor %}
		 {% endfor %}
</ul>
<div>Left_dict_left</div>
<ul>

		{% for key, value in left_dict_right.items %} 
		  <li>{{key}} - {{value}}</li>
		    {% for link in value %}<li>{{link.id}}</li>{% endfor %}
		 {% endfor %}
</ul>
<div>Left_dict_left</div>
<ul>

		{% for key, value in right_dict_left.items %} 
		  <li>{{key}} - {{value}}</li>
		    {% for link in value %}<li>{{link.id}}</li>{% endfor %}
		 {% endfor %}
</ul>
<div>Left_dict_left</div>
<ul>

		{% for key, value in right_dict_right.items %} 
		  <li>{{key}} - {{value}}</li>
		    {% for link in value %}<li>{{link.id}}</li>{% endfor %}
		 {% endfor %}
	
	
</ul>

  <script type="text/javascript">

    var graph = new joint.dia.Graph;

    var paper = new joint.dia.Paper({
        el: $('#myholder'),
        width: 1000,
        height: 1000,
        model: graph,
        gridSize: 1
    });
 
	 
	god = {};
	 
	{% for key, value in all_links.items %}  
		console.log(god)	
		
		if (!('{{value.left_prop.id}}' in god)) {
		
			var rect{{value.left_prop.id}} = new joint.shapes.basic.TextBlock({
				position: { x: 200, y: 200 },
				size: { width: 150, height: 80 },
//				attrs: { rect: { fill: 'blue' }, text: { text: '{{value.left_prop.id}} : {{value.left_prop.text}}', fill: 'white' } }
				
				attrs: { rect: { fill: 'white' }},
                content: '{{value.left_prop.id}} : {{value.left_prop.text}}'
				
			});			
			
			graph.addCells([rect{{value.left_prop.id}}]);
			god[{{value.left_prop.id}}] = 'Here'
		};
			

		
		if (!('{{value.right_prop.id}}' in god)) {
		
			var rect{{value.right_prop.id}} = new joint.shapes.basic.TextBlock({
				position: { x: 200, y: 200 },
				size: { width: 150, height: 80 },
//				attrs: { rect: { fill: 'blue' }, text: { text: '{{value.right_prop.id}} : {{value.right_prop.text}}', fill: 'white' } }
	
				attrs: { rect: { fill: 'white' }},
                content: '{{value.right_prop.id}} : {{value.right_prop.text}}'
		});				
		
			graph.addCells([rect{{value.right_prop.id}}]);
			god[{{value.right_prop.id}}] = 'Here'
		};


	{% endfor %}
	
	links = {};
	{% for key, value in all_links.items %}  

		var link{{value.id}} = new joint.dia.Link({
			source: { id: rect{{value.left_prop.id}}.id },
			target: { id: rect{{value.right_prop.id}}.id },
			labels: [ { position: 0.5, attrs: { text: { text: '{{value.nature}} : {{value.id}}' } } } ]
		});	

		if ('{{value.nature}}'=='Donc') {
			link{{value.id}}.attr({
				'.connection': { stroke: 'blue' },
				'.marker-target': { fill: 'yellow', d: 'M 10 0 L 0 5 L 10 10 z' }
			}); 
		};
		
		if ('{{value.nature}}'=='Concurrence') {
			link{{value.id}}.attr({
				'.connection': { stroke: 'blue' },
				'.marker-target': { fill: 'yellow', d: 'M 10 0 L 0 5 L 10 10 z' },
				'.marker-source': { fill: 'yellow', d: 'M 10 0 L 0 5 L 10 10 z' }
			}); 
		};
		
		console.log(links)
		
		if (!('{{value.id}}' in links)) {
			graph.addCells([link{{value.id}}]);
			links[{{value.id}}] = 'Here'
		};
			
	

	{% endfor %}	
	

	 

/*	{% for key, value in all_links.items %} 

		var rect{{link_left.left_prop.id}} = new joint.shapes.basic.Rect({
			position: { x: 100, y: 30 },
			size: { width: 100, height: 30 },
			attrs: { rect: { fill: 'blue' }, text: { text: '{{link_left.left_prop.id}}', fill: 'white' } }
		});	
			
		rect{{link_left.left_prop.id}}.translate(300);
		
		var link{{link_left.id}} = new joint.dia.Link({
			source: { id: rect{{main_prop.id}}.id },
			target: { id: rect{{link_left.left_prop.id}}.id },
			labels: [ { position: 0.5, attrs: { text: { text: '{{link_left.id}}' } } } ]
		});	
	
		
		graph.addCells([rect{{link_left.left_prop.id}}, link{{link_left.id}}]);
	
	{% endfor %}

	{% for link_right in links_right %}

		var rect{{link_right.right_prop.id}} = new joint.shapes.basic.Rect({
			position: { x: 100, y: 30 },
			size: { width: 100, height: 30 },
			attrs: { rect: { fill: 'blue' }, text: { text: '{{link_right.right_prop.id}}', fill: 'white' } }
		});	
			
		rect{{link_right.right_prop.id}}.translate(300);
		
		var link{{link_right.id}} = new joint.dia.Link({
			source: { id: rect{{main_prop.id}}.id },
			target: { id: rect{{link_right.right_prop.id}}.id },
		    labels: [ { position: 0.5, attrs: { text: { text: '{{link_right.id}}' } } } ]
    
		});	
		
		graph.addCells([rect{{link_right.right_prop.id}}, link{{link_right.id}}]);
	
	{% endfor %}		
	
*/

  </script>

{% endblock %}