{% load staticfiles %}

<audio id = 'audioplayer' class="audioDemo" controls preload="none" style="display:none;"> 
   <source src="{{MEDIA_URL}}/media/{{show.audio}}" type="audio/mpeg">
</audio>

<img id="blackUnivok" class = "cta anim" src="{% static 'univok/univokText.png' %}" alt="Play">

<div id="myholder" class = "anim"></div>
<img id="playAnim" class = "anim hvr-grow" src="{% static 'gdpcore/play.png' %}" alt="Play">
<img id="soundPicture" class = "anim" src="{% static 'gdpcore/soundPicture.png' %}" alt="Play">
<div id="soundText" class = "anim">L'animation dure {{show.minutes}} minute(s) et {{show.seconds}} seconde(s)<br />Il y a du son</div>

<img id="stopAnim" class = "anim" src="{% static 'univok/pauseGreen.png' %}" alt="Pause">
<img id="prevAnim" class = "anim" src = "{% static 'gdpcore/ctaQueBack.png' %}">
<img id="closeCross" class = "anim" src="{% static 'gdpcore/closecross.png' %}" alt="Cancel">
<div id="animClock" class="anim"><span id="clockGoing">0:00</span> / {{show.minutes}}:{{show.seconds}}</div>


<div id="callToAction" class = "cta"></div>
<!--<img id="ctaOk" class = "cta ctaImg" src="{% static 'gdpcore/ctaOk.png' %}" alt="Play">
<div id="ctaOkText" class = "cta ctaText">J'ai tout compris !</div>-->
<img id="ctaNok" class = "cta ctaImg" src="{% static 'univok/greenDoc.png' %}" alt="Play">
<div id="ctaNokText" class = "cta ctaText">Voir le document de synthèse</div>
<img id="ctaAgain" class = "cta ctaImg" src="{% static 'univok/blueVideo.png' %}" alt="Play">
<div id="ctaAgainText" class = "cta ctaText">Relancer la vidéo</div>
<!--<img id="ctaGraph" class = "cta ctaImg" src="{% static 'gdpcore/ctaGraph.png' %}" alt="Play">
<div id="ctaGraphText" class = "cta ctaText">Je souhaite revenir sur un point précis</div> -->




<div id="ctaMerci" class="cta2">Merci !</div>	

<img id="ctaQueAccurate" class = "ctaQue ctaQueImg" src="{% static 'gdpcore/ctaQueAccurate.png' %}">
<div id="ctaQueAccurateText" class = "ctaQue ctaQueText">J'ai une remarque/question sur un point précis de la vidéo</div>
<img id="ctaQueGeneral" class = "ctaQue ctaQueImg" src="{% static 'gdpcore/ctaQueGeneral.png' %}">
<div id="ctaQueGeneralText" class = "ctaQue ctaQueText">J'ai une question d'ordre général</div>
<img id="ctaQueBack" class = "ctaQue ctaQueImg" src="{% static 'gdpcore/ctaQueBack.png' %}">
<div id="ctaQueBackText" class = "ctaQue ctaQueText">Je n'ai plus de question en fait</div>


<div id="ctaQueAccurateInstruction" class="cta2">Selectionnez le(s) point(s) concernés, entrez votre question, puis appuyez sur la cible</div>
<div id="ctaQueAccurateContainer"></div>

<div id="ctaQueAccurateBackground" class="cta2">
    <img id="ctaQueAccurateClick" class="cta2 ctaInput" src="{% static 'gdpcore/ctaNokWhite.png' %}">
    <textarea id="ctaQueAccurateInput" class="cta2 ctaInput" rows="3" placeholder="Posez votre question ici"></textarea>
    <div id="ctaQueAccurateSelection" class="cta2 ctaInput"></div>

    <div id="ctaQueAccurateHowto" class="cta2 ctaInput2">Comment pouvons-nous vous contacter ?</div>
    <input id="ctaQueAccurateName" class="cta2 ctaInput2" type="text" placeholder="Nom et prénom"></input>
    <input id="ctaQueAccurateEmail" class="cta2 ctaInput2" type="email" placeholder="Email"></input>
    <input id="ctaQueAccuratePhone" class="cta2 ctaInput2" type="tel" placeholder="Téléphone (optionnel)"></input>   
  
    <div id="ctaQueAccurateAjaxMessage" class = 'cta2'></div>
  
    <img id="openQuestions" src="{% static 'gdpcore/openPanHorizontal.png' %}">
</div>


<div id="detailsBackground" class="cta2">
    <div id="detailsSentences" class="graphElems"></div>
    <img id="detailsPicture" class="graphElems"></img>
    <img id="openDetails" src="{% static 'gdpcore/openPanVertical.png' %}">
</div>



<!-- <div id="ctaForm" class="cta2" class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label labelForm">Question</label>
    <div class="col-sm-10">
      <textarea class="form-control cta2" rows="3" placeholder="Votre question"></textarea>
    </div>	
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control cta2" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button id="submitQuestion" class="btn btn-default">Envoyer votre question</button>
    </div>
  </div>
</div> 



<div id="questionsCb" class="checkbox graphElems">
    <label class="graphElems">
      <input type="checkbox" class="graphElems"> Questions
    </label>
</div>

<div id="detailsCb" class="checkbox graphElems">
    <label class="graphElems">
      <input type="checkbox" class="graphElems"> Details
    </label>
</div> -->