{% extends 'gdpcore/base.html' %}

{% block content %}



<div class ="row top-buffer">
	<a href="/gdpcore/proposition_browser/{{main_link.left_prop.id}}">{{main_link.left_prop.text}}</a>
</div>
<div class="page-header">
  <h1>{{main_link.nature}}<small>     ({{main_link.autor.username}}, {{main_link.creation_date|date:'Y-m-d H:i'}})</small></h1>
</div>
<div class ="row top-buffer">
<a href="/gdpcore/proposition_browser/{{main_link.right_prop.id}}">{{main_link.right_prop.text}}</a>
</div>

<div class ="row top-buffer">

<div class="panel panel-default">

  <div class="panel-body">
	<ul>
	{% for implication in implications %}
	<li><a href="/gdpcore/proposition_browser/{{implication.proposition.id}}">{{implication.proposition.text}}</a></li>
	{% endfor %}
	</ul>
		
  </div>
</div>	



</div>

<form class="form" method="post" action="/gdpcore/link_attack/{{main_link.id}}">
{% csrf_token %}
	<div class="form-group">
		<label for="Implication">Implication</label>
		<input type="text" class="form-control" id="implication" name='implication' placeholder="Ce lien implique que...">
	</div>

	<div class="form-group">
		<label for="Implication">Concurrence</label>
		<input type="text" class="form-control" id="attack" name='attack' placeholder="Mais il s'avère que...">
	</div>	
	
	<button type="submit" class="btn btn-primary">Créer critique</button>
	
</form>



{% endblock %}