<div style="display:none;">	
	<table id = "partsMenu" class="table table-bordered">
		<thead>
			<tr>
				<td>#</td>
				<td>id</td> 
				<td>Proposition</td> 
				<td>Nature</td> 
				<td>x</td>
				<td>y</td>
				<td>Texte</td>
				<td>Durée</td>		
				
			</tr>
		</thead>

		<tbody>
		{% for showpart in showparts %}
			<tr id = 'showpart{{showpart.order}}' prop ='{{showpart.proposition.id}}'  class = 'showpart'>		
				<td class = "order">{{showpart.order}}</td>
				<td class = "propId">{{showpart.proposition.id}}</td>
				<td class = "propText">{{showpart.proposition.text}}</td>
				<td class = "propNature">{{showpart.proposition.get_nature_display}}{% if showpart.proposition.nature = 'YT' %}({{ showpart.proposition.timediff }}){% endif %}</td>
				<td class = "propX">{{showpart.x}}</td>
				<td class = "propY">{{showpart.y}}</td>
				<td class = "text"><input type="text" value = "{{showpart.text}}" name="fname" style="width: 100px; color:black;"></td>
				<td class = "duration"><input type="number" step="0.1" value = {{showpart.duration}} style="width: 50px; color:black;"></td>
				<td class = "audioex">{{showpart.audio}}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	
	<audio id = 'audioplayer' class="audioDemo" controls preload="none" style="display:none;"> 
	   <source src="{{MEDIA_URL}}/media/{{show.audio}}" type="audio/mpeg">
	</audio>		

</div>