{% extends 'univok/basesimple.html' %}

{% block content %}
{% load staticfiles %}

<!-- <img id="play" src="{% static 'gdpcore/play.png' %}" alt="Play">
<img id="stop" src="{% static 'gdpcore/stop.png' %}" alt="Pause"> -->

<div id="textContainer">
	<div id="textDisplay"></div>
</div>

<div id="durationIndic">Duration mdr</div>

	
<img id = "saveShow" src="{% static 'gdpcore/save.png' %}"></img>

{% include "gdpcore/showparts.html" %}
{% include "gdpcore/grapher.html" %}	
	
<div>Current audio : {{show.audio}}</div>

<form id = "audioSender"  method="post" action="/gdpcore/showpartAudioUpload/" enctype="multipart/form-data">
{% csrf_token %}
	<input type="number" name="showid" value = {{show.id}} style="display:none;">
	<input id="showpartid" type="number" name="showpartid" value = "">
	<input type="file" name="audiofile">
	<input type="submit">
</form>

<script type="text/javascript">

{% include "gdpcore/grapher.js" %}
var propId;

$( document ).ready(function() {

	$("#showparts, #myholder, #playAnim").show();
	$("#showparts, #myholder, #playAnim").addClass('theatermode');

    paper = addPaper('myholder');
    paper.setDimensions($('#myholder').width(), $('#myholder').height());
    firstLoadFromShowparts('myholder');  
	setDrag();
	
	$( "body" ).one("click", "#playAnim", function(event) {		
		readshow();
	});
	
	$( "body" ).on("click", "#stop", function(event) {		
		stopshow();
	});
	
	$( "body" ).on("click", ".order", function(event) {	
		

		
	//	$( "#showpart"+ $(event.target).html() ).after( "#showpart"+ ( $(event.target).html()+1)  );
	
		order = parseInt ( $(event.target).html() ) ;		
		console.log(order);		
		$( "#showpart"+order ).after( $( "#showpart"+(order-1)) ) ;

		var i = 0;
		
		$("#partsMenu tr").each(function() {
			if (i>0){	
				$(this).find("td").eq(0).html(i);
				$(this).attr('id','showpart'+i);
				//'order': $(this).find("td").eq(0).html()
			}
			i = i+1;
			
		});		
		
//		$( "#showpart"+order).attr('id','showpart'+(order-1))
//		$( "#showpart"+(order-1)).attr('id','showpart'+order)
		
//		$( "#showpart"+order+" .order" ).html( (order-1) );
//		$( "#showpart"+(order-1)+" .order" ).html( (order) );
		
		
	});

	$( "body" ).on("click", ".propText", function(event) {	
		
	//	$( "#showpart"+ $(event.target).html() ).after( "#showpart"+ ( $(event.target).html()+1)  );

		counter = parseInt($(event.target).parent().find(".order").text()) ;
	
		audioplayer.setAttribute('src', "{{MEDIA_URL}}/media/"+$("#partsMenu #showpart"+(counter)+" .audioex").text());
		audioplayer.play();
	
			
		propId = $(event.target).parent().find(".propId").text() ;		
		showpartId = $(event.target).parent().find(".showpartId").text() ;	
		
		$("#showpartid").val(showpartId);
		
		updateCorrespondances()
		
		if(selectedElement!=''){
			selectedElement.attr('rect/fill', 'rgb(55,55,55)');
		};
		
		selectedElement = graph.getCell(propIdCorrespondance[propId]);
		selectedElement.attr('rect/fill', 'rgba(52, 152, 219,1.0)');
		
		selectedCounter = counter;
		
/*		var cumulatedTime = 0;	
		i=0;
		$("#partsMenu tr").each(function() {
			if (i<counter && i != 0){	

				dur = parseInt($(this).find("input").eq(1).val());
				cumulatedTime = cumulatedTime + dur;
			}
			i = i+1;		
		});			
		
		selectedAudioTime = cumulatedTime;
		audioplayer.currentTime = selectedAudioTime; */
	});

	$( "body" ).on("click", "#saveShow", function(event) {		
		quickSaveShow();
	});
	
	paper.on('cell:pointerclick', function(cellView,evt, x, y) {
		
		console.log(selectedCells);
		
		if ($.inArray(cellView.model.id,selectedCells) == -1){
			selectedCells.push(cellView.model.id);
			cellView.highlight();			
					
		} else {
			console.log('already in selectedCells');
			selectedCells.splice( $.inArray(cellView.model.id, selectedCells), 1 );
			cellView.unhighlight();
		}

		if (selectedCells.length == 0){
			$(".ctaInput").removeClass('animated bounceInRight');
			$(".ctaInput").addClass('animated bounceOutRight');
		} else {
			$(".ctaInput").show();
			$(".ctaInput").removeClass('animated bounceOutRight');
			$(".ctaInput").addClass('animated bounceInRight');
		}

		$("#ctaQueAccurateSelection").val('');
		selectedCells.forEach(function(entry) {
			newAuthor = graph.getCell(entry).get('autorname');
			newText = graph.getCell(entry).get('text');
			$("#ctaQueAccurateSelection").val( $("#ctaQueAccurateSelection").val()+'\n'+newAuthor+' : '+newText  );
		});
	});	

	/*	paper.on('blank:pointerdblclick', function(evt, x, y) { 
		midX = 0.7*$(window).width() / 2;
		midY = 0.9*$(window).height() / 2;
		
		paper.setOrigin(-x + midX , -y+midY);
	}); */
});
	
</script>
			
		
{% endblock %}