{% extends 'polikif/base.html' %}

{% block content %}

<div class ="row">

	<div class="col-md-3">
		<ul class="nav nav-pills nav-stacked">
			{% for parti in partis %}
				<li role="presentation"><a href="/polikif/parti_presentation/{{parti.id}}">{{parti.name}}</a></li>
			{% endfor %}
		</ul>
	
	</div>
	
	
	<div class="col-md-9">
		<div> Bonjour, bienvenue sur la page d'accueil des partis !	</div>
		<div>
		  <ul>
			{% for parti in partis %}
				<li role="presentation"><a href="/polikif/parti_presentation/{{parti.id}}">{{parti.name}} : {{parti.description}}</a></li>
			{% endfor %}	
		  <ul>
		</div>
		
	</div>

</div>

{% endblock %}