{% extends "cdn/base.html" %}

{% block content %}
{% load staticfiles %}
	<div id="mainContainer" class="container-fluid">

        <div class="row bigText">
            Ils sont venus échanger :
        </div>
    
        <div class="row">
            {% for member in members %}
                {% if member.presenceCount > 0 %}
                    <div class = "memberBox">
                        <div class = "memberPhoto">
                            <img class="imgPhoto hvr-grow"  src="{{member.photo}}" onclick="window.open('http://www.meetup.com/fr-FR/Cafes-debats-nantais/members/{{member.idmeetup}}/');"></img>
                        </div>
                        <div class = "memberName">
                            {% if member.organisationCount > 0 %}
                        <img class="imgStar2" src="{% static 'cdn/star.png' %}" data-toggle="tooltip" data-placement="bottom" title="{{member.name}} a organisé un Café-Débat. Organisez le votre pour obtenir cette superbe étoile qui apporte paix et bonheur à ses possesseurs !"></img>
                            {% endif %}
                        {{member.name}} 
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
 
       <div class="row bigText">
            Ils attendent leurs premiers Cafés-Débats :
        </div>
 
 
        <div class="row">
            {% for member in members %}
                {% if member.presenceCount = 0 %}
                    <div class = "memberBox">
                        <div class = "memberPhoto">
                            <img class="imgPhoto hvr-grow"  src="{{member.photo}}" onclick="window.open('http://www.meetup.com/fr-FR/Cafes-debats-nantais/members/{{member.idmeetup}}/');"></img>
                        </div>
                        <div class = "memberName">
                        {{member.name}} 
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div> 
	</div>



<script>
  
    $(document).ready(function() {
        $('.imgPhoto').each(function() {
            console.log('test');
            var maxWidth = 200; // Max width for the image
            var maxHeight = 200;    // Max height for the image
            var ratio = 0;  // Used for aspect ratio
            var width = $(this).width();    // Current image width
            var height = $(this).height();  // Current image height

            HWRatio = height/width;
            
            // Check if the current width is larger than the max
            if(width >= height){
                //ratio = maxWidth / width;   // get ratio for scaling image
                //$(this).css("width", maxWidth); // Set new width
                //$(this).css("height", height * ratio);  // Scale height based on ratio
                
                $(this).css("width", maxHeight/ratio);
                $(this).css("height", maxHeight);
                
                //height = height * ratio;    // Reset height to match scaled image
                //width = width * ratio;    // Reset width to match scaled image
            }

            // Check if current height is larger than max
            if(height > width){
                //ratio = maxHeight / height; // get ratio for scaling image
                //$(this).css("height", maxHeight);   // Set new height
                //$(this).css("width", width * ratio);    // Scale width based on ratio
                //width = width * ratio;    // Reset width to match scaled image
                
                $(this).css("width", maxWidth);
                $(this).css("height", maxWidth*HWRatio);                
            }
        });
        
        
        
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    }); 
	</script>
    
{% endblock %}