{% extends 'univok/base.html' %}

{% block content %}
{% load staticfiles %}
<div class = "container">
	<div class="row">
		<div class="col-md-3">
			<img class = "collectifPic" src = "{% static 'univok/juliettePic.jpg' %}">
		</div>
		<div class="col-md-9">
			<div class = "speakerName">Juliette Chanfreau</div>
			<div class = "speakerDescription">Banane</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<img class = "collectifPic" src = "{% static 'univok/lrPic.jpg' %}">
		</div>
		<div class="col-md-9">
			<div class = "speakerName">Louis-René Lemaire</div>
			<div class = "speakerDescription">Pêche</div>			
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<img class = "collectifPic" src = "{% static 'univok/juliePic.jpg' %}">
		</div>
		<div class="col-md-9">
			<div class = "speakerName">Julie Boiveau</div>
			<div class = "speakerDescription">Tomate</div>				
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<img class = "collectifPic" src = "{% static 'univok/arthurPic.jpg' %}">
		</div>
		<div class="col-md-9">
			<div class = "speakerName">Arthur Gouriten</div>
			<div class = "speakerDescription">Noix de coco</div>					
		</div>
	</div>		
</div>

{% endblock %}