{% extends 'univok/base.html' %}

{% block content %}
{% load staticfiles %}

<div class = "container-fluid">
	<div class="row topRow">
		<div class="col-md-3">
			<img id = "logo" class="hvr-grow" src = "{% static 'univok/ECS.png' %}" onclick="window.location='/';"></img>
		</div>
		<div class="col-md-9 titleContainer">
			<span class = "title">{{event.name}}</span>
		</div>
	</div>
    <div class="row subtitleContainer" id="descriptionSubtitle">
        <div class="col-md-12">
            <div class = 'subtitle'>Synthèse</div>
        </div>
	</div>
	<div class="row" id="descriptionContent">
        <div class="col-md-12">
             
            <div class = 'row'>
                <div class="col-md-2 col-md-offset-1"> 
                    <img id="docAccurateStarter" class="starters" src = "{% static 'univok/greenDoc.png' %}" ></img>
                </div>
                <div class="col-md-5"> 
                    <span id="docSpan">Document de synthèse amélioré</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row subtitleContainer" id="descriptionSubtitle">
        <div class="col-md-12">
            <div class = 'subtitle'>Conseils</div>
        </div>
	</div>
	<div class="row" id="descriptionContent">
        <div class="col-md-12">
            {%for conseil in conseils%}               
            <button type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-education" aria-hidden="true"></span> <a href="/media/{{conseil.conseil}}">{{conseil.conseil}}</a>
            </button>
            {%endfor%}                      
        </div>
    </div>


    
    <div class="row subtitleContainer" id="descriptionSubtitle">
        <div class="col-md-12">
            <div class = 'subtitle'>Statistiques</div>
        </div>
	</div>
	<div class="row" id="descriptionContent">
        <div class="col-md-12">
             
            <div id="chart_div"></div>
        </div>
    </div>

    <div class="row subtitleContainer" id="descriptionSubtitle">
        <div class="col-md-12">
            <div class = 'subtitle'>Images</div>
        </div>
	</div>
	<div class="row" id="descriptionContent">
        <div class="col-md-12">
            {%for photo in photos%}
            <button type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span> <a href="/media/{{photo.picture}}">{{photo.picture}}</a>
            </button>
            {%endfor%}
        </div>
    </div>	

    <div class="row subtitleContainer" id="descriptionSubtitle">
        <div class="col-md-12">
            <div class = 'subtitle'>Audio</div>
        </div>
	</div>
	<div class="row" id="descriptionContent">
        <div class="col-md-12">
            {%for record in records%}               
            <button type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-record" aria-hidden="true"></span> <a href="/media/{{record.record}}">{{record.record}}</a>
            </button>
            {%endfor%}             
        </div>
    </div>		
    
    <div class="row subtitleContainer" id="descriptionSubtitle">
        <div class="col-md-12">
            <div class = 'subtitle'>Questions</div>
        </div>
	</div>
	<div class="row" id="descriptionContent">
        <div class="col-md-12">
            
            <table class="table">
                <tr>
                    <th>Date</th>
                    <th>Auteur</th>
                    <th>Text</th>
                    <th>A propos</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Statut</th>
                </tr>
            {%for question in questions%}
                <tr>
                    <td>{{question.time|timesince}}</td>
                    <td>{{question.firstname}}</td>
                    <td>{{question.text}}</td>
                    <td>
                        {% for showpart in question.showpart.all %}
                        <div>
                           <a href="/reviewAsList/{{question.event.pk}}"> {{ showpart.proposition.text }} {{showpart.proposition.autor}}</a>
                        </div>
                        {% endfor %}                                                  
                    </td>
                    <td>{{question.email}}</td>                        
                    <td>{{question.phone}}</td>
                    <td contenteditable></td>
                </tr>
            {%endfor%}                
            
            
            </table>
            
        

        </div>
    </div>	    
    
</div>

    <script type="text/javascript">


     $( document ).ready(function() {        
        $("#docAccurateStarter").on('click',function(){        
            var win = window.open('/reviewAsList/{{event.id}}', '_blank');
            if (win) {
                win.focus();
            } else {
                //Browser has blocked it
                alert('Please allow popups for this website');
            }      
        });
    });
    

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Intervenant');
        data.addColumn('number', 'Parole');

        {%for county in final_count %}         
            {% for key, value in county.items %}
                {% if key != 'total' %}
                data.addRows([
                    ['{{key}}', {{value}}]
                ]);
                {% endif %}
                
            {%endfor%}
        {%endfor%}
        
        // Set chart options
        var options = {'title':'Repartition de la parole', 'height':400};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }    
    
 
    
    </script>

{% endblock %}