{% extends 'univok/base.html' %}

{% block content %}
{% load staticfiles %}

<div class="container">
	<div class="row topRow">
		<div class="col-md-3">
			<img id = "logo" src = "{% static 'univok/ECS.png' %}" class = "hvr-grow" onclick="window.location='/';"></img>
		</div>
		<div class="col-md-9 titleContainer">
			<span class = "title">Evénements</span>
		</div>
	</div>
	
	<div class="row">
		<div class = 'subtitle'><img class = "picto" src = "{% static 'gdpcore/timer_logo.png' %}"></img>A venir</div>
	</div>
	
	{% for event in events %}
		{% if event.status = '0' %}
		<div class="row event hvr-hollow" onclick="window.location='/evenement/{{event.id}}';">
			<div class = "eventDatePlace">{{event.date|date:"d/m/Y"}}, au {{event.place}}</div>
			<div class = "eventName">{{event.name}}</div>
			<div class = "eventDescription">{{event.description}}</div>
		</div>
		{% endif %}
	{% endfor %}
	
	<div class="row">
		<div class = 'subtitle'><img class = "picto" src = "{% static 'gdpcore/timerfull_logo.png' %}"></img>Passé</div>
	</div>
	
	{% for event in events %}
		{% if event.status = '1' %}
		<div class="row event hvr-hollow" onclick="window.location='/evenement/{{event.id}}';">
			<div class = "eventDatePlace">{{event.date|date:"d/m/Y"}}, au {{event.place}}</div>
			<div class = "eventName">{{event.name}}</div>
			<div class = "eventDescription">{{event.description}}</div>
		</div>
		{% endif %}
	{% endfor %}	
	
</div>

{% endblock %}