{% extends 'univok/base.html' %}

{% block content %}
{% load staticfiles %}

<div class="container">
	
	<div class="row topRow">
		<div class="col-md-3">
			<img id = "logo" src = "{% static 'univok/ECS.png' %}" onclick="window.location='/univok/index/';"></img>
		</div>
		<div class="col-md-9 titleContainer">
			<span class = "title">{{event.name}}</span>

		</div>
	</div>

			<div id="navbar-example">
				<ul class="nav nav-pills" role="tablist">
					<li role="presentation"><a href="#descriptionSubstitle">Description</a></li>
					<li role="presentation"><a href="#intervenantsSubstitle">Intervenants</a></li>
					<li role="presentation"><a href="#avantproposSubtitle">Avant-propos</a></li>
				</ul>
			</div>

	<div class="row subtitleContainer" id="descriptionSubstitle">
		<div class = 'subtitle'>Description</div>
	</div>
	<div class="row simpletext">{{event.description}}</div>	

	<div class="row subtitleContainer" id="intervenantsSubstitle">
		<div class = 'subtitle'>Intervenants</div>
	</div>	
	
	{% for speaker in event.speakers.all %}
	<div class="row">
		<div class="col-md-3">
			<img class = "speakerPicture" src = "/media/{{speaker.picture}}">
		</div>
		<div class="col-md-9">
			<div class = "speakerName">{{ speaker.name }}</div>
			<div class = "speakerDescription">{{ speaker.description }}</div>
		</div>
	</div>
	{% endfor %}

	<div class="row subtitleContainer" id="avantproposSubtitle">
		<div class = 'subtitle'>Avant-propos</div>
	</div>
	<div class="row">
		<img id="starter" class="animPlay" src = "{% static 'univok/clickmeUnivok.png' %}" ></img>
	</div>
	
</div>

	{% include "gdpcore/showparts.html" %}
	{% include "gdpcore/grapher.html" %}

<script>
	{% include "gdpcore/grapher.js" %}
</script>

{% endblock %}