<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
{% load staticfiles %}

	<link rel="stylesheet" type="text/css" href="{% static 'univok/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'gdpcore/joint.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'gdpcore/nopadding.css' %}">	
	<link rel="stylesheet" type="text/css" href="{% static 'gdpcore/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'gdpcore/jquery-ui-1.11/jquery-ui.min.css' %}">
	<script src="{% static 'gdpcore/jquery.min.js' %}"></script>
	<script src="{% static 'gdpcore/jquery-ui-1.11/jquery-ui.min.js' %}"></script>	
	<script src="{% static 'gdpcore/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'gdpcore/lodash.min.js' %}"></script>
	<script src="{% static 'gdpcore/backbone-min.js' %}"></script>
	<script src="{% static 'gdpcore/joint.js' %}"></script>
	<script src="{% static 'gdpcore/googlecharts.js' %}"></script>
	

	<script src="https://cdn.rawgit.com/ariutta/svg-pan-zoom/master/dist/svg-pan-zoom.min.js"></script>	
	
	
</head>
<body>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<img id = "logo" src = "{% static 'gdpcore/ecossolies.png' %}" onclick="window.location='/univok/index';"></img>
		</div>
		<div class="col-md-9 titleContainer">
			<span class = "title">{{event.name}}</span>
		</div>
	</div>
	
	<div class="row">
	
		<ul class="nav nav-tabs">
		  <li role="presentation"><a href="/univok/evenement/{{event.id}}">Accueil</a></li>
		  <li role="presentation" class="active"><a href="#">Idées</a></li>
		  <li role="presentation"><a href="#">Ressources</a></li>
		</ul>
	

	</div>	
	
	<div class="row">
		<div class = 'subtitle'>Enregistrements</div>
	</div>	
	{% for record in records %}
	<div class="row">
		<audio controls>
		  <source src="/media/{{record.record}}" type="audio/mpeg">
			Your browser does not support the audio element.
		</audio>
		<a href="/media/records/Kalimba.mp3" download>Download</a>
	</div>
	{% endfor %}
	
	<div class="row">
		<div class = 'subtitle'>Graphique</div>
	</div>		
	<div class="row">
		<div id="myholder"></div>
	</div>
	
	
	<div class="row">
		<div class = 'subtitle'>Propos</div>
	</div>		
	{% for sentence in sentences %}
	<div class="row">
		<div class="col-md-2">{{sentence.speaker.name}}</div>
		<div class="col-md-5">{{sentence.text}}</div>
		<div class="col-md-5">{{sentence.proposition.text}}</div>
	</div>
	{% endfor %}
	
</div>

<script>
	{% include "gdpcore/grapher.js" %}

	$( document ).ready(function() {
		paper = addPaper('myholder');
		setGridZoom(paper, 'myholder');
		firstLoad('myholder');	
	});
</script>

</body>
</html>