{% extends 'univok/base.html' %}

{% block content %}
{% load staticfiles %}

<div class="container-fluid">
	<div class="row topRow">
		<div class="col-md-3">
			<img id = "logo" class="hvr-grow" src = "{% static 'univok/ECS.png' %}" onclick="window.location='/';"></img>
		</div>
		<div class="col-md-9 titleContainer">
			<span class = "title">{{event.name}}</span>
		</div>
	</div>
	
	<div id="navbar-example">
		<ul class="nav nav-pills" role="tablist">
            {% if event.displaydescription %}
			  <li role="presentation"><a href="#descriptionSubstitle">Description</a></li>
            {% endif %}               
            {% if event.displayphoto %}
			  <li role="presentation"><a href="#photosSubstitle">Photos</a></li>
            {% endif %} 
            {% if event.displayfacilitation %}
			  <li role="presentation"><a href="#facilitationSubtitle">Facilitation</a></li>
            {% endif %}  
            {% if event.displayanimation %}
			  <li role="presentation"><a href="#syntheseSubtitle">Synthèse</a></li>
            {% endif %}
            {% if event.displayintervenant %}
			  <li role="presentation"><a href="#intervenantSubtitle">Intervenants</a></li>
            {% endif %}
		</ul>
	  </div>
    
    {% if event.displaydescription %}
    <div class="row subtitleContainer" id="descriptionSubtitle">
        <div class="col-md-12">
            <div class = 'subtitle'>Description</div>
        </div>
	</div>
	<div class="row" id="descriptionContent">
        <div class="col-md-12">
            <div class = "simpletext">{{event.description}}</div>
        </div>
    </div>	
    {% endif %}
    
	{% if event.displayphoto %}
    <div class="row subtitleContainer" id="photoSubtitle">
        <div class="col-md-12">
            <div  class = 'subtitle'>Photos</div>
        </div>   
    </div>    
    
	<div class="row" id="photoContent">
		<div class="col-md-10 col-md-offset-1">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
              <ol class="carousel-indicators">
                {% for photo in photos %}
                <li data-target="#carousel-example-generic" data-slide-to="0" {% if forloop.counter0 == 0%}class="active"{% endif %}></li>
                {% endfor %}
              </ol>

	  <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
               
                
                {% for photo in photos %}
                
                <div class="item {% if forloop.counter0 == 0%}active{% endif %}">
                  <img class = "carouselPicture" src="/media/{{photo.picture}}" alt="...">
                  <div class="carousel-caption">
                    ...
                  </div>
                </div>
                
                {% endfor %} 
                
              </div>

	  <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        </div>
	</div>
	{% endif %}
    
    {% if event.displayfacilitation %}
	<div class="row subtitleContainer" id="facilitationSubtitle">
        <div class="col-md-12">
            <div class = 'subtitle'>Facilition graphique</div>
        </div>
	</div>
	
	<div class="row" id="facilitationContent">
        <div class="col-md-10 col-md-offset-1">
            <img id="facilitation" src = "{% static 'univok/facilitationJulie.jpg' %}" ></img>
        </div>
	</div>	
	{% endif %}
    
    {% if event.displayanimation %}
	<div class="row subtitleContainer" id="syntheseSubtitle">
        <div class="col-md-12">
            <div class = 'subtitle'>{% if event.status == '1' %}Synthèse{% else %}Avant-propos{% endif %}</div>
        </div>
	</div>
    
	<div class="row" id="syntheseContent">
        <div class="col-md-10 col-md-offset-1">
            <img id="starter" class="animPlay" src = "{% static 'univok/clickMe.png' %}" ></img>
        </div>
	</div>
    {% endif %}
    
	{% if event.displayintervenant %}
	<div class="row subtitleContainer" id="intervenantSubtitle">
        <div class="col-md-12">
            <div class = 'subtitle'>Intervenants</div>
        </div>
	</div>	
	
    <div class="row" id="intervenantContent"> 
        <div class="col-md-10 col-md-offset-1">
            {% for speaker in event.speakers.all %}
            <div class="row">
                <div class="col-md-3">
                    <img class = "speakerPicture" src = "/media/{{speaker.picture}}">
                </div>
                <div class="col-md-9">
                    <div class = "speakerName">{{ speaker.name }}</div>
                    <div class = "speakerDescription">{{ speaker.description }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    
</div>

{% if event.displayanimation %}
    {% include "gdpcore/showparts.html" %}
    {% include "gdpcore/grapher.html" %}
{% endif %}


<script>

	$('.carousel').carousel({
		interval: false
	});

{% if event.displayanimation %}
	{% include "gdpcore/grapher.js" %}
    
    $( document ).ready(function() {
		paper = addPaper('myholder');
		firstLoadFromShowparts('myholder');
		initPage();
    });
{% endif %}

</script>

</body>
</html>

{% endblock %}





