<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
{% load staticfiles %}

	<link rel="stylesheet" type="text/css" href="{% static 'univok/style.css' %}">
	
	<link rel="stylesheet" type="text/css" href="{% static 'gdpcore/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'gdpcore/jquery-ui-1.11/jquery-ui.min.css' %}">
	<script src="{% static 'gdpcore/jquery.min.js' %}"></script>
	<script src="{% static 'gdpcore/jquery-ui-1.11/jquery-ui.min.js' %}"></script>	
	<script src="{% static 'gdpcore/js/bootstrap.min.js' %}"></script>


</head>
<body>

<div class="container">
	<div class="row">
		<div class="col-md-2">
			<img id = "logosmall" src = "{% static 'gdpcore/ecossolies.png' %}" onclick="window.location='/univok/index';"></img>
		</div>
		<div class="col-md-10">
			<div id = "title">{{event.name}}</div>
		</div>
	</div>
	
	<div class="row">
		<span>Accueil</span>
		<span onclick="window.location='/univok/idees/{{event.id}}';">Idées</span>
		<span>Ressources</span>
	</div>
	<div class="row">
		<div class = 'subtitle'>Photos</div>
	</div>
	<div class="row">
		<div class="slideshow-container">
		{% for photo in photos %}
		  <div class="mySlides fade">
			<div class="numbertext">1 / 1</div>
			<img src="/media/{{photo.picture}}" style="width:100%">
			<div class="text">Caption Text</div>
		  </div>
		{% endfor %}  
		  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
		<a class="next" onclick="plusSlides(1)">&#10095;</a>
		
		</div>
		<br>

		<div style="text-align:center">
		  <span class="dot" onclick="currentSlide(1)"></span> 

  
		</div>	
	
	</div>		
	<div class="row">
		<div class = 'subtitle'>Avant-propos</div>
	</div>
	<div class="row">
		<iframe src="/gdpcore/puretheater/4" width="1000" height="500"></iframe> 
	</div>
	<div class="row">
		<div class = 'subtitle'>Intervenants</div>
	</div>	
	
	{% for speaker in event.speakers.all %}
		<div class="row">
			<div>{{ speaker.name }}</div>
			<div>{{ speaker.description }}</div>
		</div>
	{% endfor %}


	
</div>


<script>
	var slideIndex = 1;
	showSlides(slideIndex);

	function plusSlides(n) {
	  showSlides(slideIndex += n);
	}

	function currentSlide(n) {
	  showSlides(slideIndex = n);
	}

	function showSlides(n) {
	  var i;
	  var slides = document.getElementsByClassName("mySlides");
	  var dots = document.getElementsByClassName("dot");
	  if (n > slides.length) {slideIndex = 1} 
	  if (n < 1) {slideIndex = slides.length}
	  for (i = 0; i < slides.length; i++) {
		  slides[i].style.display = "none"; 
	  }
	  for (i = 0; i < dots.length; i++) {
		  dots[i].className = dots[i].className.replace(" active", "");
	  }
	  slides[slideIndex-1].style.display = "block"; 
	  dots[slideIndex-1].className += " active";
	}
</script>

</body>
</html>






