{% extends 'univok/base.html' %}

{% block content %}
{% load staticfiles %}

{% include "gdpcore/grapher.html" %}

<img id="builderRefresher" src="{% static 'gdpcore/ctaAgain.png' %}" class="hvr-shrink">
<img id="builderSaver" src="{% static 'gdpcore/save.png' %}" class="hvr-shrink">
<img id="builderLinker" src="{% static 'gdpcore/ctaNok.png' %}" class="hvr-shrink">
<select id="builderLinkType">
    <option value="donc">donc</option>
    <option value="ccr">ccr</option>
    <option value="ex">ex</option>
</select>

<div id="builderContainer">
	
    {% if converter.40.html %}
        {{converter.0.html|safe}}
    {% else %}
    
    <table class="table" id="sentencesTable" style="width:50%">
      <tr>
        <th>	
            <div>Types:</div>
            <div>
                <input type="checkbox" class="cbStatus" id="cb0" checked>0								
                <input type="checkbox" class="cbStatus" id="cb1" checked>1								
                <input type="checkbox" class="cbStatus" id="cb2" checked>2
            </div>	
        </th>
        <th>	
            <div>Auteurs:</div>
        {% for name in names %}
            <div class="row">
                <input type="checkbox" class="cbAuthors" checked>{{name}}
            </div>
        {% endfor %}			
        </th>
        <th>Citation exacte</th>
        <th>Reformulation</th>
        <th>x</th>
        <th>y</th>
           
      </tr>
     
    {% for sentence in sentences %}
        <tr>
            <td>
                <select class="selectStatus">
                    <option value=0>0</option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                </select>
            </td>
            <td class="author" contenteditable>{{sentence.0}}</td>
            <td class="sentenceIni" contenteditable>{{sentence.1}}</td>
            <td class="sentenceNew" contenteditable></td>
            <td class="x" contenteditable>0</td>
            <td class="y" contenteditable>0</td>
        <tr>
    {% endfor %}
    </table>
    
    <table class="table" id="propsTable" style="width:49%">
      <tr>
        <th>id</th>
        <th>author</th>
        <th>text</th>
        <th>x</th>
        <th>y</th>
      </tr>
      <tr>
        <td class="propId">1</td>
        <td class="propAuthor">Auteur</td>
        <td class="propText">Ceci est la première proposition</td>
        <td class="propX">12</td>
        <td class="propY">23</td>                   
      </tr>
    </table>

    
    <div class = "row">
        <table id ="linksTable" class="table" style="width:49%">
            <tr>
                <th>Left</th>
                <th>Right</th>
                <th>Type</th>
            </tr>
        </table>      
    </div>
    {% endif %}
</div>

<script>

	{% include "gdpcore/grapher.js" %}
	
	var indic = 0;
	var props = [];

   
	$( document ).ready(function() {
		paper = addPaper('myholder');
        setDrag();
        $('#myholder').addClass("theatermode")
	
        
        updateGraphFromHtml();      
        
    
        function setLinkAttr(li, linkType){
        
            if ( linkType == 'donc'){      
                li.attr({
                    '.connection': { stroke: 'green' },
                    '.marker-target': { fill: 'green', d: 'M 10 0 L 0 5 L 10 10 z' }
                });     
            } else if ( linkType == 'ex') {
                li.attr({
                 '.connection': { stroke: 'blue' },
                 '.marker-target': { fill: 'blue', d: 'M 10 0 L 0 5 L 10 10 z' }
                });
            } else if ( linkType == 'ccr') {
                 li.attr({
                 '.connection': { stroke: 'red' },
                 '.marker-source': { fill: 'red', d: 'M 10 0 L 0 5 L 10 10 z' },
                 '.marker-target': { fill: 'red', d: 'M 10 0 L 0 5 L 10 10 z' }    
                });
            }
            li.attr({'type': linkType});               
        }
    
        function updateGraphFromHtml(){
        
            sentenceNews = $('.sentenceNew');	
			props =[];			
			$.each(sentenceNews, function(key, value) { 
				props.push( $(value).text() );
			});			
			props=props.filter(function(itm,i,props){
				return i==props.indexOf(itm);
			});
            
            var index = props.indexOf("");
            if (index >= 0) {
              props.splice( index, 1 );
            }
			
			
			
			i = 0;
			$.each(props, function(key, value) { 				
				el = addProp(i, value, 'dada');
				
				x = $("table tr").filter(function () {
					return $(this).find('.sentenceNew').eq(0).text() == value
				}).find(".x").eq(0).html();
				
				y = $("table tr").filter(function () {
					return $(this).find('.sentenceNew').eq(0).text() == value
				}).find(".y").eq(0).html();
				
				el.position(parseInt(x), parseInt(y));
				console.log(x);
				
				el.on('change:position', function(event) {

					$("table tr").filter(function () {
						return $(this).find('.sentenceNew').eq(0).text() == value
					}).find(".x").html(event.get('position')['x']);
					
					$("table tr").filter(function () {
						return $(this).find('.sentenceNew').eq(0).text() == value
					}).find(".y").html(event.get('position')['y']);
					
					
					
				i++;	

				})					
				
			});
            
            //Ajout des links
            linkRows = $("#linksTable tr");
            
			$.each(linkRows, function(key, value) { 
                
                console.log(value);
                
                //On détermine l'ID de la source et de la target...
                sourceText = $(value).find(".sourceElem").eq(0).text();
                targetText = $(value).find(".targetElem").eq(0).text();

                console.log('sourceText : '+sourceText);
                console.log('targetText : '+targetText);
                
                sourceId=0;
                targetId=0;
                
                allCells = graph.getCells();
                allCells.forEach(function(entry) {                   
                    if(entry.get('text') == sourceText) {
                        sourceId = entry.id
                    }                  
                    if(entry.get('text') == targetText) {
                        targetId = entry.id
                    }                       
                });
                
                console.log('sourceId : '+sourceId);
                console.log('targetId : '+targetId);
                
                if(sourceId != 0 && targetId != 0) {
                    
                    console.log('ajout..');
                              
                    var li = new joint.dia.Link({
                        source: { id: sourceId },
                        target: { id: targetId }
                    });            
                     
                    setLinkAttr(li, $(value).find(".linkType").eq(0).text());
                    
                    graph.addCell(li);   
                };
			});	       
        
        
        
        }
        
		$("#builderRefresher").on("click", function() {

            //On MAJ la table des liens en fonctions des liens sur le graphe           
            $("#linksTable").html(
                        '<tr>'
                            +'<th>Left</th>'
                            +'<th>Right</th>'
                            +'<th>Type</th>'
                        +'</tr>'
            );
            
            links = graph.getLinks();
            $.each(links, function(key, value) {         
                
                if(!((!value.prop('source/id') || !value.prop('target/id')))) {
                
                    $('#linksTable tr:last').after(
                        '<tr>'
                            +"<td class = 'sourceElem' contenteditable>"+value.getSourceElement().get('text')+'</th>'
                            +"<td class = 'targetElem' contenteditable>"+value.getTargetElement().get('text')+'</th>'
                            +"<td class = 'linkType' contenteditable>"+value.attr('type')+'</th>'
                        +'</tr>');
                }
            });

            graph.clear();
            
            updateGraphFromHtml();			
			
		});
	
		$("#builderSaver").on("click", function() {
		
			htmlTable = $("#builderContainer").html();
			$.ajax( {
				type: "POST",
				url: '/sentencesConverter/',
				data: { 
						html: htmlTable,
						event: 1,
						csrfmiddlewaretoken: '{{ csrf_token }}'
				},
				success: function( data ) {		
					
					console.log(data);
				}
			});
			
		});
	
        $("#builderLinker").on("click", function() {
            
             linkType = $("#builderLinkType option:selected").val();
            
            li = new joint.dia.Link();         
            setLinkAttr(li, linkType);
            
            
            graph.addCells([li]);
            
            console.log(graph.getCells());
            

        });
    
	});
	
	//Addprop
	$( "#addprop" ).on( "click", function() {
		
		authorName = $('#mytable tr').filter(function () {
			return $(this).find('td').eq(3).find(".cbSentences").is(':checked')
		}).find('td').eq(2).text();
		
		addProp(indic, indic+' '+$("#textinput").val(), authorName);
		
		checkedSentences = $('#mytable tr').filter(function () {
			return $(this).find('td').eq(3).find(".cbSentences").is(':checked')
		});

		$.each(checkedSentences, function() {
			$(this).find('td').eq(5).text(indic);
			$(this).find('td').eq(0).find(".selectStatus").val('1');
			$(this).find('td').eq(3).find(".cbSentences").prop('checked', false);
			updateColors();
			updateSentencesArea();
			updateCheckboxSentences();
			
			$("#textinput").val('');
		});		
		
		indic++;
		
		
	});


	function updateColors(){
	
		$('#mytable tr').filter(function () {
			return $.trim($(this).find('td').eq(0).find(".selectStatus").val()) == "0"
		}).children().css('color', '#2980b9');	
		
		$('#mytable tr').filter(function () {
			return $.trim($(this).find('td').eq(0).find(".selectStatus").val()) == "1"
		}).children().css('color', '#2ecc71');
		
		$('#mytable tr').filter(function () {
			return $.trim($(this).find('td').eq(0).find(".selectStatus").val()) == "2"
		}).children().css('color', '#e67e22');	
		
		return 1;
	};
	
	updateColors();
	
	$('.selectStatus').on('change', function () {
		updateColors();	
	});
	


	//Checkboxes : update visibility...
	$('.cbStatus,.selectStatus').on('change', function () {
	
		if($("#cb0").is(':checked')){	
			var $rowsNo = $('#mytable tr').filter(function () {
				return $.trim($(this).find('td').eq(0).find(".selectStatus").val()) == "0"
			}).show();
		}else{
			var $rowsNo = $('#mytable tr').filter(function () {
				return $.trim($(this).find('td').eq(0).find(".selectStatus").val()) == "0"
			}).hide();
		};
		
		if($("#cb1").is(':checked')){	
			var $rowsNo = $('#mytable tr').filter(function () {
				return $.trim($(this).find('td').eq(0).find(".selectStatus").val()) == "1"
			}).show();
		}else{
			var $rowsNo = $('#mytable tr').filter(function () {
				return $.trim($(this).find('td').eq(0).find(".selectStatus").val()) == "1"
			}).hide();
		};		
	
		if($("#cb2").is(':checked')){	
			var $rowsNo = $('#mytable tr').filter(function () {
				return $.trim($(this).find('td').eq(0).find(".selectStatus").val()) == "2"
			}).show();
		}else{
			var $rowsNo = $('#mytable tr').filter(function () {
				return $.trim($(this).find('td').eq(0).find(".selectStatus").val()) == "2"
			}).hide();
		};

	});

	
</script>

{% endblock %}