

.anim:not(#myholder) ,.cta, .cta2, .ctaQue, .graphElems{
	display:none;
}


#myholder.fullscreen{
	display:block;
	background-color: #1A1A1A;
    z-index: 5000; 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
 }
 
 #myholder.theatermode{
	display:block;
	background-color: #1A1A1A;
    z-index: 5000; 
    width: calc(100% - 300px); 
    height: 500px; 
    position: absolute; 
    top: 0px; 
    left: 0; 
	border-color:rgba(46, 204, 113,1.0);
	border-style:solid;
 }
 
#builderContainer{
 	display:block;
    z-index: 5000; 
    width: 100%; 
    position: absolute; 
    top: 500px; 
    left: 0;
    background-color:white;
    margin-left:30px;
}

#showparts.theatermode{
	display:block;
	background-color: white;
    z-index: 5000; 
    width: 100%;  
    position: absolute; 
    top: 500px; 
    left: 0;
	border-color:rgba(52, 152, 219,1.0);
	border-style:solid;	
}
 
#playAnim.theatermode{
    position: absolute;
    top: 400px;
    left: calc(100% - 100px);
	width:100px;
	height:100px;
	z-index: 5300;	
} 

#playAnim{
    position: fixed;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
	width:300px;
	height:300px;
	z-index: 5300;	
}

#audioSender{
    position: absolute;
    top: 100px;
    right: 0px;
	z-index: 5300;			
}

#saveShow{
    position: absolute;
    top: 200px;
    right: 10px;
	width:100px;
	height:100px;
	z-index: 5300;		
}

#durationIndic{
	position: absolute;
    top: 300px;
    right: 40px;
	z-index: 5300;	
	
}
 


#soundPicture{
    position: fixed;
    top: calc(50% + 200px);
    left: calc(50% - 250px);
	width:100px;
	height:100px;
	z-index: 5300;	
}

#soundText{
    position: fixed;
    top: calc(50% + 210px);
    left: calc(50% - 110px);
	z-index: 5300;
	color:#2ecc71;
	font-size:30px
}



#stopAnim {
    position: fixed;
    bottom: 20px;
    right: 20px;
	width:100px;
	height:100px;
	z-index: 5300;	
}

#closeCross {
    position: fixed;
    top: 20px;
    right: 20px;
	width:50px;
	height:50px;
	z-index: 9000;	
}

#closeCross.openPan {
    right: 420px;    
}    

#animClock{
    position: fixed;
    top: 20px;
    right: 100px;
	z-index: 5300;	   
    font-size: 30px;
    color:white;
}

#callToAction.hidden{
	display:none;
}

#callToAction.fullscreen{
	display:block;
	background-color: #1A1A1A;
    z-index: 5500; 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 	
}

.ctaImg, .ctaQueImg{
    position: fixed;	
	width:100px;
	height:100px;
	z-index: 5600;
    left: calc(30% - 50px);	
}

#ctaOk, #ctaQueAccurate{
    top: calc(50% - 275px);		
}

#ctaNok, #ctaQueGeneral{
	top: calc(50% - 125px);
}

#ctaAgain, #ctaQueBack{
    top: calc(50% + 25px);		
}

#ctaGraph{
    top: calc(50% + 175px);		
}



.ctaText, .ctaQueText{
    position: fixed;	
	left: calc(30% + 125px);
	z-index: 5600;
	font-size: 40px;	
}

#ctaOkText, #ctaQueAccurateText{
    top: calc(50% - 240px);	
    color: #2ecc71;
}

#ctaNokText ,#ctaQueGeneralText{
	top: calc(50% - 100px);
	color:#3498db;	
}

#ctaAgainText, #ctaQueBackText{
	top: calc(50% + 50px);
	color: rgb(240, 196, 25);
}

#ctaGraphText{
	top: calc(50% + 200px);
	color: rgb(255,58,39);	
}

#ctaMerci{
    position: fixed;	
	left: calc(50% - 30px);
	z-index: 5600;
	font-size: 80px;	
    top: calc(50% - 25px);
	color:green;	
}

#blackUnivok{
	position:fixed;
	width:200px;
	height:100px;
	bottom:25px;
	right:100px;
	z-index:7000;
}

#ctaForm{
	position:fixed;
	left:30%;
	top:20%;
	z-index:5600;		
}

#simpleClick{
 	position:absolute;
	left: 0px;
	top:-110px;
	z-index:5800;	
	width:100px;
    height:100px;
}


#ctaQueAccurateInstruction{
	position:absolute;
	left: 10px;
	bottom:40px;
	z-index:5800;
	font-size:40px;
	color:#2ecc71;
	width:60vw;
}

#ctaQueAccurateContainer{
	position:fixed;
	z-index:5800;
	left:10%;
	top:40px;	
}

.element.highlighted rect {
    border-color: #2ecc71 !important;
}

.accurateText{	
	font-size:30px;
	color:red;
}

#ctaQueAccurateBackground{
    position:fixed;     
    z-index:5800;   
    top:0px; 
    height:calc(100% - 150px);
    width:400px;
    background-color:rgba(46, 204, 113, 1);
    right: -390px;    
}

#ctaQueAccurateBackground.openPan{
    right:0px;
}

#openQuestions{
    position:absolute;     
    z-index:5801;
    bottom:0px;
    left: -25px;
    height:25px;
    width:25px;
    background-color: rgba(46, 204, 113, 1);
}

#openDetails{
    position:absolute;     
    z-index:5801;
    top:-25px;
    right:25px;
    height:25px;
    width:25px;
    background-color: rgba(52, 152, 219,1.0); 
}

#detailsBackground{
    position:fixed;     
    z-index:5800;   
    bottom:-140px;
    left:0px;
    height:150px;
    width: calc(100% - 400px);
    background-color:rgba(52, 152, 219,1.0);      
}

#detailsBackground.openPan{   
    bottom:0px;
}

.ctaInput, .ctaInput2{
	position:absolute;
    display:none;
	z-index:5801;	
	left:10px;		
}

#ctaQueAccurateSelection{
	bottom:360px;
	width: 380px;
    color: white;
    font-size:15px;
    text-align:left;
}

#ctaQueAccurateInput{
	bottom: 140px;
	width:380px;
	height:200px;
}

#ctaQueAccurateClick{	
	bottom: 20px;
    left: 240px;
	width:100px;
	height:100px;
}

#ctaQueAccurateHowto{
    bottom: 340px;
    width:380px; 
    font-size: 20px;
    color: white;
    text-align: right;
}

#ctaQueAccurateName{
    bottom: 240px;
    width:380px;
}
#ctaQueAccurateEmail{
    bottom: 190px;
    width:380px;
}
#ctaQueAccuratePhone{
    bottom: 140px;
    width:380px;
}

#detailsSentences{
	position:absolute;
	top: 20px;
	left: 140px;
	z-index: 5801;
	color:white;
	font-size:20px;
}

#detailsPicture{
	position:absolute;
    display:none;
	top: 20px;
	left: 20px;
	height:100px;
    width:100px;
	z-index: 5801;    
}

#questionsCb{
	position:fixed;
	top: 10px;
	left: 10px;
	z-index: 5300;
    color:white;
}

#detailsCb{
	position:fixed;
	top: 60px;
	left: 10px;
	z-index: 5300;
    color:white;
}

.graphElems{
    color:white;
}