.container-fluid{
    width:90%;!important
}

html *{
	color: #34495e;
	font-family: 'Open Sans', "Fira Sans", Times, serif;
}

html,body{
	overflow-x: hidden;
	background-color: rgb(225,238,244) !important;
	height:100%;
}

body {
  position: relative;
}

#topBar{
	position:fixed;
	height:50px;
/*	background-color:rgb(255,58,39);*/
	background-color:rgba(52, 152, 219,1);
	top:0px;
	z-index:2;
	width:100%;
}
#topBar *{
	color:white;
	font-size:30px;
}

#secondTopBar{
	position:absolute;
	height:160px;
/*	background-color:rgb(223,239,212); */
    background-color: rgba(46, 204, 113,1);
	top:100px;
	z-index:1;
	width:100%;	
}


.socialIco {
	width:40px;
	height:40px;
	z-index:3;
}

#footer{
	position:absolute;
	bottom:0px;
	height:100px;
	width:100%;
	background-color:blue;
	z-index:3;
	
}

.container-fluid{	
	background-color:white;
	margin:0px 30px 0px 30px;
	min-height:100%;
}

.topRow *{
	z-index:1;
}

.topRow{
	margin:100px 0px 20px 0px;
}

#logo {
	width: 150px;
	height: 150px;
}
#logosmall {
	width: 100px;
	heigth: 100px;
}

.titleContainer{
  height: 150px;
  line-height: 150px;
  text-align: center;
}

.title{
	font-size: 50px;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	color:white;
}

.subtitle{
	color:#2c3e50;
	font-size: 30px;
	display:inline-block;
	margin: 10px 0px 10px 20px;
}

.subtitleContainer{
    /*border-bottom-style: solid;
	border-bottom-width: 1px;
    border-bottom-color: #7f8c8d;*/
	margin:30px 0px 30px 0px;
	background-color: rgb(245,245,245);
}


.event{
	min-width:100%;
	margin: 10px 10px 10px 10px;
	padding: 30px 30px 30px 30px;
	background-color: #ecf0f1;
    vertical-align:center;
}


.eventName{
	font-size:20px;
	font-weight:bold;
}
.eventDescription{
	font-size:14px;
}
.eventDatePlace{
	font-size:17px;
	font-weight:bold;
}


.simpletext {
	font-size: 14px;
	margin-left:10px;
	padding-left:10px;
}


.picto{
	width: 30px;
	heigth: 30px;
    display:inline-block;
	margin-right:20px;
	
}

.animContainer{
	width: 100%;
	height: 600px;
    border-style: solid;
    border-width: 5px;
}

#starter{
    width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer; 
    cursor: hand;
}

#facilitation{
	width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.speakerPicture{
	width: 100%;
	margin-top:10px;
}

.speakerName{
	font-size:30px;
}

.collectifPic{
	margin-top:10px;
	width:200px;
	height:200px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}