#myholder.hidden{
	display:none;
}

#myholder.fullscreen{
	display:block;
	background-color: #1A1A1A;
    z-index: 5000; 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
 }
 
#playAnim{
    position: fixed;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
	width:100px;
	height:100px;
	z-index: 5300;	
}

#soundPicture{
    position: fixed;
    top: calc(50% + 100px);
    left: calc(50% - 150px);
	width:100px;
	height:100px;
	z-index: 5300;	
}

#soundText{
    position: fixed;
    top: calc(50% + 125px);
    left: calc(50% - 10px);
	z-index: 5300;
	color:white;
	font-size:30px
}



#stopAnim {
    position: fixed;
    bottom: 20px;
    right: 20px;
	width:100px;
	height:100px;
	z-index: 5300;	
}

#closeCross {
    position: fixed;
    top: 20px;
    right: 20px;
	width:100px;
	height:100px;
	z-index: 5300;	
}

#callToAction.hidden{
	display:none;
}

#callToAction.fullscreen{
	display:block;
	background-color: #1A1A1A;
    z-index: 5500; 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 	
}

.ctaImg, .ctaQueImg{
    position: fixed;	
	width:100px;
	height:100px;
	z-index: 5600;
    left: calc(40% - 50px);	
}

#ctaOk, #ctaQueAccurate{
    top: calc(30% - 50px);		
}

#ctaNok, #ctaQueGeneral{
	top: calc(40% - 50px);
}

#ctaAgain, #ctaQueBack{
    top: calc(50% - 50px);		
}

#ctaGraph{
    top: calc(60% - 50px);		
}



.ctaText, .ctaQueText{
    position: fixed;	
	left: calc(40% + 100px);
	z-index: 5600;
	font-size: 40px;	
}

#ctaOkText, #ctaQueAccurateText{
    top: calc(30% - 25px);
    color: green;
}

#ctaNokText ,#ctaQueGeneralText{
    top: calc(40% - 25px);
	color:yellow;	
}

#ctaAgainText, #ctaQueBackText{
    top: calc(50% - 25px);
	color:blue;	
}

#ctaGraphText{
    top: calc(60% - 25px);
	color:red;	
}

#ctaMerci{
    position: fixed;	
	left: calc(50% - 30px);
	z-index: 5600;
	font-size: 80px;	
    top: calc(50% - 25px);
	color:green;	
}

#blackUnivok{
	position:fixed;
	width:200px;
	height:100px;
	bottom:0px;
	right:30px;
	z-index:7000;
}

#ctaForm{
	position:fixed;
	left:30%;
	top:20%;
	z-index:5600;		
}

#ctaQueAccurateInstruction{
	position:fixed;
	left:calc(10%);
	bottom:40px;
	z-index:5800;
	font-size:40px;
	color:red;
	width:60vw;
}

#ctaQueAccurateContainer{
	position:fixed;
	z-index:5800;
	left:10%;
	top:40px;	
}

.accurateText{	
	font-size:30px;
	color:red;
}

.ctaInput{
	position:fixed;
	z-index:5800;	
	right:100px;		
}

#ctaQueAccurateSelection{
	top:10%;
	width:20%;
	height:200px;	
}

#ctaQueAccurateInput{
	top:calc(10% + 230px);
	width:20%;
	height:200px;
}

#ctaQueAccurateClick{	
	top:calc(10% + 460px);
	width:100px;
	height:100px;
}

